<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>YTDL</title>
</head>
<body align="center">
    <div>
        <form method="POST">
            <input type="text" name="url" placeholder="Enter the URL" id="url" required minlength="7" autocomplete="off">
            <select name="choice" id="choice">
                    <option value="audio"> Audio </option>
                    <option value="video"> Video </option>
            </select>
            <br>
            <input type="submit" value="Download" id="q">
        </form>
    </div>
</body>
</html>
